* {
  margin: 0;
  padding: 0;
}
.logo,
.tools,
.content,
footer {
  padding: 0px 360px;
  margin: 0 auto;
}
/*网页头部*/
header {
  background: rgb(235, 243, 241);
  height: 95px;
  padding-top: 20px;
}
/*网页logo*/
.logo {
  float: left;
  width: 194px;
  height: 65px;
}
.logo h1 {
  width: 192px;
  height: 63px;
  padding: 1px;
  text-align: center;
  line-height: 63px;
  font: 48px Helvetica;
  color: #00978e;
}
/*网页功能区*/
.tools {
  float: right;
  width: 260px;
}
.r1 {
  height: 36px;
  line-height: 36px;
}
.r2 {
  height: 20px;
  line-height: 20px;
}
/*网页导航条*/
.main_nav {
  width: 100%;
  height: 60px;
  background: #00978e;
  text-align: center;
  margin: 0 auto;
  padding: 0px 360px;
}
.main_nav ul li {
  float: left;
  list-style: none;
  width: 150px;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
}
.main_nav ul li.curr_checked {
  background: #015e58;
}
/* 轮播图 */
.banner img {
  position: relative;
}
/* 轮播图切换箭头 */
.arrow {
  position: absolute;
  top: 50%;
  width: 54px;
  height: 64px;
  margin-top: -32px;
  background: rgba(219, 217, 217, 0.4);
  text-align: center;
  line-height: 64px;
  color: #fff;
  cursor: pointer;
  font-size: 50px;
}
.arrow:hover {
  width: 56px;
  background: rgba(182, 144, 144, 0.4);
}
.left_arrow {
  left: 360px;
}
.right_arrow {
  right: 360px;
}
/* 轮播图小圆点 */
