@font-face {
  font-family: "iconfont";
  src: url("../font/iconfont.ttf?t=1635655274046") format("truetype");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: "微软雅黑", Helvetica;
}
.clearfix {
  overflow: hidden;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
}
.tac {
  text-align: center;
}
.taf {
  text-align: left;
}
.tar {
  text-align: right;
}
.center {
  width: 1201px;
  margin: 0 auto;
}
.db {
  display: block;
}
.dib {
  display: inline-block;
}
