/*
评分标准是什么？
1、规范（6分）
（1）图片、css文件、js文件要放在独立文件夹中。
（2）文件以及文件夹都要使用英文命名。
（3）代码书写规范，且有适量的注释。

2、网页整体（12分）
（1）网页整体美观，与效果图保持一致。
（2）页面所有字体为“微软雅黑”。
（3）网页内容整体居中显示。

3、top区域（4分）
（1）整体宽度为100%。
（2）右侧显示服务热线，并在top区域垂直居中。

4、header区域（12分）
（1）左侧logo文字：字体颜色为#0058AA，鼠标移入时变成小手状。
（2）中间导航：分文字与图标两部分，鼠标移入导航图标时，图标变为白色，背景色变为#0058AA，且有呼吸动画效果（即缩放效果，详见效果视频）。
（3）右侧搜索框：输入框中要有提示文字，鼠标移入搜索按钮时变成小手状。

5、banner区域（12分）
（1）图片宽度要占满浏览器屏幕宽度的100%。
（2）图片要自动轮播，每2s切换一次图片。
（3）轮播图底部要有圆点按钮，点击按钮可以切换图片；并且小圆点要水平居中显示。
（4）鼠标移入轮播图时，停止轮播，鼠标移出轮播图时，轮播开始。

6、商品区域（10分）
（1）图片下面要有文字介绍。
（2）图片两侧要有左右切换箭头，左右切换箭头默认显示灰色，鼠标移入时，变成蓝色箭头。
（3）点击左侧箭头，切换到上一个商品；点击右侧箭头，切换到下一个商品。当切换到最后一个商品时，再点击下一个商品不能进行切换。当切换到第一个商品时，再点击上一个，也不能进行切换。

7、了解我们区域（14分）
（1）上部分为标题区域，要有中文标题、英文小标题、标题下划线以及分割线。
（2）下部分为左中右三部分，依次为文字、图片和按钮。
（3）鼠标移入左侧按钮，按钮有左右摆动的动画效果。
（4）鼠标移入中间的图片，图片要放大，且有过渡效果。
（5）鼠标移入右侧按钮，按钮背景色变为#0058AA，且有过渡效果。

8、精品推荐区域（15分）
（1）宽度要占满屏幕宽度的100%，背景色为#EFF0F4。
（2）标题要有中文标题、英文小标题和标题下划线。
（3）图片上面要有文字介绍，文字介绍的背景色为黑色半透明。
（4）图片两侧要有左右切换箭头，左右切换箭头默认显示灰色，鼠标移入时，变成蓝色箭头。
（5）点击左侧箭头，切换到上一个商品；点击右侧箭头，切换到下一个商品。（效果与商品区域切换效果一致）

9、新闻中心区域（8分）
（1）标题要有中文标题、英文小标题和标题下划线。
（2）文字介绍分4个模块，每个模块由序号和文字内容组成。
（3）鼠标移入序号时，要有上下移动的动画效果。

10、footer区域（7分）
（1）宽度要占满屏幕宽度的100%。
（2）内容由联系方式和版权信息两部分组成，联系方式区域背景色为#06142F，版权信息区域背景色为#06142F。
（3）版权信息要居中显示。
*/

/* 网页TOP区  */
header {
  width: 100%;
  height: 161px;
}
header .top {
  height: 40px;
  background-color: #0058aa;
}
/* 网页TOP区-服务热线 */
header .top .center p {
  float: right;
  font-size: 18px;
  color: #ffffff;
  line-height: 40px;
}
/* 网页导航区 */
header .main_nav {
  height: 121px;
  background-color: #fff;
  padding: 19px 0 11px;
}
/* 网页导航区-网站logo */
header .main_nav .center .logo {
  float: left;
  width: 192px;
  height: 91px;
  cursor: pointer;
}
header .main_nav .center .logo h1 {
  font-size: 64px;
  color: #0058aa;
  line-height: 91px;
}
/* 网页导航区-菜单 */
header .main_nav .menu_list {
  float: left;
  width: 561px;
  height: 91px;
  margin-left: 109px;
  margin-right: 62px;
}
header .main_nav .menu_list ul li {
  float: left;
  width: 64px;
  height: 91px;
  margin-right: 60px;
}
header .main_nav .menu_list ul li:last-child {
  margin-right: 0;
}
/* 鼠标hover导航图标动画 */
@keyframes navtouch {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
header .main_nav .menu_list ul li .picbox {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  padding: 8.5px 0;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 50%;
  margin-bottom: 21px;
}
header .main_nav .menu_list ul li .picbox:hover {
  background-color: #0058aa;
  color: #fff;
  animation: navtouch 1s linear 0s infinite alternate;
}
header .main_nav .menu_list ul li .picbox:hover a .no_hover {
  display: inline-block;
}
header .main_nav .menu_list ul li .picbox a .have_hover {
  display: none;
}
header .main_nav .menu_list ul li .picbox:hover a .have_hover {
  display: inline-block;
}
header .main_nav .menu_list ul li .picbox:hover a .no_hover {
  display: none;
}
header .main_nav .menu_list ul li .picbox a {
  display: block;
  text-align: center;
}
header .main_nav .menu_list ul li .textbox {
  font-size: 16px;
  color: #545454;
}
/* 网页导航区-全局搜索 */
header .main_nav .search {
  width: 277px;
  height: 37px;
  float: left;
  padding-top: 26px;
  box-sizing: border-box;
}
header .main_nav .search input {
  float: left;
  width: 212px;
  height: 37px;
  outline: none;
  padding-left: 15px;
  border: 1px solid #d3d3d3;
}
header .main_nav .search a {
  float: left;
  display: block;
  width: 48px;
  height: 39px;
  line-height: 39px;
  color: #fff;
  font-size: 39px;
  text-align: center;
  background-color: rgb(28, 28, 170);
}
/* 网页banner区 */
.banner {
  width: 100%;
  height: 650px;
  position: relative;
  background: url(../images/assets/banner01.png) no-repeat;
  background-position: center;
}
/* 网页banner区-底部圆点切换区 */
.banner .point_list {
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -21px;
  width: 42px;
  height: 10px;
}
.banner .point_list ul li {
  float: left;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 6px;
}
.banner .point_list ul li.curr {
  background-color: #0058aa;
}
.banner .point_list ul li:hover {
  cursor: pointer;
  background-color: #0058aa;
}
.banner .point_list ul li:last-child {
  margin-right: 0;
}
/* 公用类 */
.content_part .center .arrow {
  position: absolute;
  width: 48px;
  height: 48px;
  font-size: 48px;
  line-height: 48px;
  top: 50%;
  margin-top: -24px;
}
.content_part .center .arrow:hover {
  color: #0058aa;
}
.content_part .center .left {
  left: 0;
}
.content_part .center .right {
  right: 0;
}
.content_part .center a.arrow {
  color: rgba(0, 0, 0, 0.6);
}
.content_part .center .hd {
  position: relative;
  height: 85px;
  text-align: center;
}
.content_part .center .hd .gl_line {
  position: absolute;
  top: 45px;
  width: 500px;
  height: 2px;
  background-color: #808080;
}
.content_part .center .hd > .left {
  left: 0;
}
.content_part .center .hd > .right {
  right: 0;
}
.content_part .center .hd h2 {
  font-size: 32px;
  color: #696868;
}
.content_part .center .hd em {
  font-size: 18px;
  color: #9b9b9b;
}
.content_part .center .hd > .line {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -43px;
  width: 93px;
  height: 3px;
  background-color: #0058aa;
}
/* 网页商品、了解我们区 */
.prod_about {
  height: 760px;
  padding-top: 38px;
  box-sizing: border-box;
}
/* 网页商品区 */
.prod_about .center .prod {
  height: 266px;
  margin-bottom: 32px;
  padding: 0 73px;
  position: relative;
}
.prod_about .center .prod > ul > li {
  float: left;
  width: 171px;
  margin-right: 50px;
}
.prod_about .center .prod > ul > li:last-child {
  margin-right: 0;
}
.prod_about .center .prod > ul > li > .pic_box {
  margin-bottom: 10px;
}
.prod_about .center .prod > ul > li > .text_box p {
  font-size: 18px;
  color: #838383;
}
/* 了解我们区 */
.prod_about .center .about {
  height: 374px;
}
.prod_about .center .about .bd {
  margin-top: 36px;
}
.prod_about .center .about .bd .col {
  float: left;
  width: 384px;
}
.prod_about .center .about .bd .line {
  width: 142px;
  height: 4px;
  margin-bottom: 20px;
  background-color: #0058aa;
}
.prod_about .center .about .bd .pic_box {
  overflow: hidden;
  height: 256px;
  margin-left: 30px;
  margin-right: 19px;
}
.prod_about .center .about .bd .pic_box img {
  overflow: hidden;
  transform: scale(1);
  transition: transform 0.5s linear 0s;
}
.prod_about .center .about .bd .pic_box img:hover {
  transform: scale(1.2);
}
.prod_about .center .about .bd .about_box {
  width: 374px;
  padding-left: 10px;
}
.prod_about .center .about .bd .about_box p:nth-of-type(1) {
  width: 104px;
  height: 34px;
  line-height: 34px;
  font-size: 26px;
  color: #0058aa;
}
.prod_about .center .about .bd .about_box p:nth-of-type(2) {
  font-size: 21px;
  color: #5a5a5a;
  line-height: 41px;
}
.prod_about .center .about .bd .about_box p:nth-of-type(3) {
  width: 238px;
  height: 78px;
  font-size: 16px;
  color: #7b7c7c;
  line-height: 26px;
  margin-bottom: 27px;
}
.prod_about .center .about .bd .about_box > button {
  width: 130px;
  height: 38px;
  font-size: 18px;
  color: #ffffff;
  background-color: #0058aa;
}
.prod_about .center .about .bd .about_box > button:hover {
  animation: updown 0.6s linear 0s infinite alternate;
}
@keyframes updown {
  0% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(-6deg);
  }
}
.prod_about .center .about .bd .message_box {
  margin-top: 15px;
  text-align: right;
}
.prod_about .center .about .bd .message_box .col_box {
  width: 273px;
  height: 61px;
  background: #cccccc;
  text-align: left;
  color: #ffffff;
  margin-bottom: 10px;
  padding-left: 30px;
  box-sizing: border-box;
}
.prod_about .center .about .bd .message_box .col_box:last-child {
  margin-bottom: 0;
}
.prod_about .center .about .bd .message_box .col_box .icon_box {
  float: left;
  width: 40px;
  height: 35px;
  line-height: 35px;
  margin-right: 19px;
}
.prod_about .center .about .bd .message_box .col_box .text_box {
  float: left;
}
.prod_about .center .about .bd .message_box .col_box .text_box p:first-child {
  font-size: 22px;
}
.prod_about .center .about .bd .message_box .col_box .text_box p:last-child {
  font-size: 12px;
}
.prod_about .center .about .bd .message_box .col_box:hover {
  background-color: #0058aa;
  transition: background-color 0.8s linear 0s;
}
/* 网页精品推荐区 */
.jptj {
  width: 100%;
  height: 590px;
  background-color: #eff0f4;
  padding: 70px 0;
  box-sizing: border-box;
}
.jptj .center .hd {
  margin-bottom: 40px;
}
.jptj .center .bd {
  position: relative;
  height: 326px;
}
.jptj .center .bd ul {
  margin-left: 62px;
}
.jptj .center .bd ul li {
  float: left;
  position: relative;
  width: 345px;
  height: 326px;
  margin-right: 22px;
}
.jptj .center .bd ul li:last-child {
  margin-right: 0;
}
.jptj .center .bd ul li .text_box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 345px;
  height: 45px;
  line-height: 45px;
  padding-left: 15px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
}
.jptj .center .bd ul li .text_box p {
  font-size: 16px;
  color: #ffffff;
}
/* 网页新闻中心区 */
.xwzx {
  width: 100%;
  height: 545px;
  padding-top: 80px;
  box-sizing: border-box;
}
.xwzx .center .hd .gl_line {
  height: 1px;
  background-color: #9b9b9b;
}
.xwzx .center .bd {
  padding-top: 60px;
}
.xwzx .center .bd ul li {
  float: left;
  position: relative;
  width: 503px;
  height: 109px;
  margin-right: 70px;
  margin-bottom: 40px;
}
.xwzx .center .bd ul li:last-child {
  margin-right: 0;
}
.xwzx .center .bd ul li .icon_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 65px;
  height: 65px;
  text-align: center;
  line-height: 65px;
  background: url(../images/assets/talk-bg.png) no-repeat;
}
@keyframes up {
  0% {
    top: -20px;
  }
  100% {
    top: 0;
  }
}
.xwzx .center .bd ul li .icon_box:hover {
  animation: up 0.4s ease-out 0s alternate;
}
.xwzx .center .bd ul li .icon_box em {
  font-size: 40px;
  color: #ffffff;
}
.xwzx .center .bd ul li .text_box {
  padding-left: 103px;
}
.xwzx .center .bd ul li .text_box dl dt {
  font-size: 21px;
  color: #4a4a4a;
  margin-bottom: 12px;
}
.xwzx .center .bd ul li .text_box dl dt {
  font-size: 18px;
  color: #4a4a4a;
}
/* 网页联系信息区 */
footer .lxxx {
  width: 100%;
  height: 210px;
  background-color: #06142f;
  padding-top: 53px;
  box-sizing: border-box;
}
footer .lxxx .center .content .footer_logo {
  float: left;
  font-size: 48px;
  color: #ffffff;
  line-height: 140px;
  margin-right: 101px;
}
footer .lxxx .center .content .footer_info {
  float: left;
}
footer .lxxx .center .content .footer_info p {
  font-size: 16px;
  color: #ffffff;
  height: 40px;
  line-height: 40px;
}
footer .lxxx .center .content .footer_info p a {
  color: #fff;
}
/* 网页版权区 */
footer .bq {
  width: 100%;
  height: 30px;
  background-color: #202c46;
  text-align: center;
  color: #fff;
  line-height: 30px;
  font-size: 14px;
}
