/*
评分标准是什么？
1、规范（6分）
（1）图片、css文件要放在独立文件夹中。
（2）文件以及文件夹都要使用英文命名。
（3）代码书写规范，且有适量的注释。
2、网页整体（14分）
（1）页面整体结构使用HTML布局。
（2）页面所有的字体为“微软雅黑”。
（3）网页整体美观，与效果图保持一致。
（4）网页中的内容整体水平居中显示。
3、top区域（4分）
（1）宽度要占满屏幕宽度的100%，背景色为#0058AA。
（2）右侧显示服务热线，并在top区域垂直居中。
4、header区域（16分）
（1）左侧logo文字：字体颜色为#0058AA，鼠标移入时变成小手状。
（2）中间导航：分文字与图标两部分，鼠标移入导航图标时，图标变为白色，背景色变为#0058AA，且有呼吸动画效果（即缩放效果，详见效果视频）。
（3）右侧搜索框：分输入框和搜索按钮两部分，鼠标移入搜索按钮时变成小手状。
5、banner区域（2分）
（1）图片宽度要沾满屏幕宽度的100%。
（2）banner区域底部要有圆点切换按钮，并且小圆点要水平居中显示。
6、商品区域（6分）
（1）图片下面要有文字介绍。
（2）左右切换箭头默认显示灰色箭头图标，鼠标移入时，变成蓝色箭头。
7、了解我们区域（22分）
（1）上部分为标题区域，要有中文标题、英文小标题、标题下划线以及分割线。
（2）下部分为左中右三部分，依次为文字、图片和按钮。
（3）鼠标移入左侧按钮，按钮有左右摆动的动画效果。
（4）鼠标移入中间的图片，图片要放大，且有过渡效果。
（5）鼠标移入右侧按钮，按钮背景色变为#0058AA，且有过渡效果。
8、精品推荐区域（11分）
（1）宽度要占满屏幕宽度的100%，背景色为#EFF0F4。
（2）标题要有中文标题、英文小标题和标题下划线。
（3）图片上面要有文字介绍，文字介绍的背景色为黑色半透明。
（4）图片两侧要有左右切换箭头，左右切换箭头默认显示灰色，鼠标移入时，变成蓝色箭头。
9、新闻中心区域（12分）
（1）标题要有中文标题、英文小标题和标题下划线。
（2）文字介绍分4个模块，每个模块由序号和文字内容组成。
（3）鼠标移入序号时，要有上下移动的动画效果。
10、footer区域（7分）
（1）宽度要占满屏幕宽度的100%。
（2）联系方式区域背景色为#06142F，版权信息区域背景色为#202C46。
（3）版权信息要居中显示。
*/

/* 网页TOP区  */
header {
  height: 161px;
}
header .top {
  height: 40px;
  background-color: #0058aa;
}
/* 网页TOP区-服务热线 */
header .top .center p {
  float: right;
  font-size: 18px;
  color: #ffffff;
  line-height: 40px;
}
/* 网页导航区 */
header .main_nav {
  height: 121px;
  background-color: #fff;
  padding: 19px 0 11px;
}
/* 网页导航区-网站logo */
header .main_nav .center .logo {
  float: left;
  width: 192px;
  height: 91px;
}
header .main_nav .center .logo h1 {
  font-size: 64px;
  color: #0058aa;
  line-height: 91px;
}
/* 网页导航区-菜单 */
header .main_nav .menu_list {
  float: left;
  width: 561px;
  height: 91px;
  margin-left: 109px;
  margin-right: 62px;
}
header .main_nav .menu_list ul li {
  float: left;
  width: 64px;
  height: 91px;
  margin-right: 60px;
}
header .main_nav .menu_list ul li:last-child {
  margin-right: 0;
}
/* 鼠标hover导航图标动画 */
@keyframes navtouch {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
header .main_nav .menu_list ul li .picbox {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  padding: 8.5px 0;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 50%;
  margin-bottom: 21px;
}
header .main_nav .menu_list ul li .picbox:hover {
  background-color: #0058aa;
  color: #fff;
  animation: navtouch 1s linear 0s infinite alternate;
}
header .main_nav .menu_list ul li .picbox:hover a .no_hover {
  display: inline-block;
}
header .main_nav .menu_list ul li .picbox a .have_hover {
  display: none;
}
header .main_nav .menu_list ul li .picbox:hover a .have_hover {
  display: inline-block;
}
header .main_nav .menu_list ul li .picbox:hover a .no_hover {
  display: none;
}
header .main_nav .menu_list ul li .picbox a {
  display: block;
  text-align: center;
}
header .main_nav .menu_list ul li .textbox {
  font-size: 16px;
  color: #545454;
}
/* 网页导航区-全局搜索 */
header .main_nav .search {
  width: 277px;
  height: 37px;
  float: left;
  padding-top: 26px;
  box-sizing: border-box;
}
header .main_nav .search input {
  float: left;
  width: 227px;
  height: 37px;
  outline: none;
  border: 1px solid #000;
}
header .main_nav .search a {
  float: left;
  display: block;
  width: 48px;
  height: 39px;
  line-height: 39px;
  background-color: rgb(28, 28, 170);
}
