.clearfix {
  overflow: hidden;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
}
.tac {
  text-align: center;
}
.taf {
  text-align: left;
}
.tar {
  text-align: right;
}
.center {
  margin: 0 auto;
}
.db {
  display: block;
}
.dib {
  display: inline-block;
}
