.site_header {
  height: 150px;
  min-width: 1152px;
}

.site_header .topbar {
  min-width: 1152px;
  background: #2a2a2a;
  height: 32px;
  line-height: 32px;
}
.site_header .topbar a {
  color: #fff;
}
.site_header .topbar .shortcut_links > ul > li {
  float: left;
  font-size: 12px;
  margin-right: 18px;
}
.site_header .topbar .shortcut_links > ul > li.have_menu {
  padding-right: 12px;
  position: relative;
}
/* 子菜单项基类（默认为社区） */
.site_header .topbar .shortcut_links > ul > li.have_menu .menu {
  position: absolute;
  top: 32px;
  left: 0;
  width: 120px;
  background: #fff;
  display: none;
  z-index: 9999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 20);
  padding: 10px;
}
/* 子菜单项——商城 */
.site_header .topbar .shortcut_links > ul > li.have_menu .sc {
  width: 76px;
}
/* 子菜单项——酒店·名宿 */
.site_header .topbar .shortcut_links > ul > li.have_menu .jdms {
  width: 64px;
}
.site_header .topbar .shortcut_links > ul > li.have_menu .menu_list li {
  height: 20px;
  line-height: 20px;
}
.site_header .topbar .shortcut_links > ul > li.have_menu .menu a {
  font-size: 12px;
  color: #1c1f21;
  line-height: 20px;
}
.site_header .topbar .shortcut_links > ul > li.have_menu .menu a:hover {
  color: blue;
}
.site_header .topbar .shortcut_links > ul > li.have_menu > .arrow {
  position: absolute;
  width: 12px;
  height: 12px;
  right: 0;
  top: 50%;
  margin-top: -6px;
  transform: rotate(0deg);
  transition: transform 0.2s ease 0s;
}
.site_header .topbar .shortcut_links > ul > li.have_menu:hover .arrow {
  transform: rotate(180deg);
}
.site_header .topbar .shortcut_links > ul > li.have_menu:hover .menu {
  display: block;
}
.site_header .topbar .shortcut_links > ul > li.have_menu > .arrow b {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 2px;
  left: 3px;
  transform: rotate(45deg);
  background: #fff;
}
.site_header .topbar .shortcut_links > ul > li.have_menu > .arrow i {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 1px;
  left: 3px;
  transform: rotate(45deg);
  background: #2a2a2a;
}
.site_header .topbar .topbar_r {
  float: right;
  width: 225px;
  color: #fff;
}
.site_header .topbar .topbar_r a,
.site_header .topbar .topbar_r span {
  margin-right: 9px;
}
.site_header .topbar .topbar_r a:last-child {
  margin-right: 0;
}
/* 主导航栏 */
.site_header .main_nav {
  min-width: 1152px;
  height: 40px;
  background: #20bd9a;
}
.site_header .main_nav ul > li > a {
  color: #fff;
  line-height: 40px;
}
.site_header .main_nav ul > li {
  float: left;
  font-size: 16px;
  margin-right: 18px;
}
.site_header .main_nav ul > li.have_menu {
  padding-right: 16px;
  position: relative;
}
/* 主导航栏子菜单项基类（默认为机酒自由行） */
.site_header .main_nav ul > li.have_menu .menu {
  position: absolute;
  top: 40px;
  left: 0;
  width: 150px;
  background: #fff;
  line-height: 18px;
  display: none;
  z-index: 9999;
  color: #1c1f21;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 20);
  padding: 10px;
}
/* 主导航栏子菜单项-跟团游 */
.site_header .main_nav ul > li.have_menu .gty {
  width: 106px;
}
/* 主导航栏子菜单项-当地玩乐 */
.site_header .main_nav ul > li.have_menu .ddwl {
  width: 158px;
}
/* 主导航栏子菜单项-深度旅游 */
.site_header .main_nav ul > li.have_menu .sdly {
  width: 110px;
}
.site_header .main_nav ul > li.have_menu .menu dt {
  font-size: 14px;
  font-weight: bold;
}
.site_header .main_nav ul > li.have_menu .menu a:hover {
  color: blue;
}
.site_header .main_nav ul > li.have_menu .menu a {
  font-size: 12px;
  color: #1c1f21;
}
.site_header .main_nav ul > li.have_menu:hover .menu {
  display: block;
}
.site_header .main_nav ul > li.have_menu::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  top: 50%;
  margin-top: -2px;
  right: 0;
  border: 6px solid transparent;
  border-top-color: #fff;
  border-bottom: none;
  transform: rotate(0deg);
  transition: transform 0.2s ease 0s;
}
.site_header .main_nav ul > li.have_menu:hover::before {
  transform: rotate(180deg);
}
/* 网页顶部主要内容 */
.site_header .header_content {
  height: 36px;
  padding: 21px 0;
}
.site_header .header_content h1 {
  float: left;
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  color: #20bd9a;
}
.site_header .header_content .search_box {
  float: left;
  margin-left: 20px;
  width: 405px;
  padding-top: 3px;
}
.site_header .header_content .search_box input {
  width: 361px;
  height: 28px;
  border: 1px solid #20bd9a;
  border-radius: 4px 0 0 4px;
  font-size: 14px;
  /* 取消外线（）文本框选中的时候的边框线 */
  outline: none;
  padding-left: 10px;
  float: left;
}
.site_header .header_content .search_box a {
  display: block;
  width: 32px;
  height: 30px;
  background: #20bd9a;
  float: left;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  border-radius: 0 4px 4px 0;
}
/* banner */
.banner img {
  width: 100%;
  /* min-width属性，限制最小宽度 */
  min-width: 1152px;
}
/* 轮播图一级菜单 */
.banner .center {
  position: relative;
}
.banner .center .banner_nav {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  background: #1c1f21;
}
