* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "微软雅黑";
  font-size: 16px;
}
ul,
ol {
  list-style: none;
}
/* 网页头部 */
header {
  height: 80px;
  /* margin: 16px 0px; */
  background: #07cbc9;
}
header .header_top {
  width: 1200px;
  height: 80px;
  margin: 0 auto;
}
/* 网页logo */
header .header_top .logo {
  float: left;
  /* padding: 16px 0px;
  line-height: 80px; */
  padding-top: 16px;
}
/* 网页导航条 */
header .header_top .main_nav {
  float: right;
}
header .header_top .main_nav ul {
  /* width: 480px; */
  height: 80px;
}
header .header_top .main_nav ul li {
  float: left;
  /* width: 63px; */
  line-height: 80px;
  margin-right: 20px;
}
header .header_top .main_nav ul li:last-child {
  margin-right: 0px;
}
/* banner */
.banner {
  height: 600px;
}
.banner .banner_content {
  position: relative;
}
/* banner图片 */
.banner .banner_content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
}
/* banner遮罩层 */
.banner .banner_content .mask_layer {
  position: absolute;
  width: 100%;
  height: 600px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
/* banner表单 */
.banner .banner_content .form {
  position: absolute;
  width: 504px;
  /* height: 350px; */
  top: 50%;
  left: 50%;
  /* margin-top: -175px; */
  padding-top: 100px;
  margin-left: -252px;
}
.banner .banner_content .form form {
  text-align: center;
}
.banner .banner_content .form .form_div .input_info {
  background: none;
  /* width: 504px; */
  width: 502px;
  height: 40px;
  margin-bottom: 20px;
  color: #808080;
  border: 1px solid #808080;
  outline: none;
}
.banner .banner_content .form .form_div .input_info:focus {
  background: #808080;
}
.banner .banner_content .form .form_div textarea {
  background: none;
  /* width: 504px; */
  width: 502px;
  height: 110px;
  margin-bottom: 20px;
  color: #808080;
  border: 1px solid #808080;
}
.banner .banner_content .form .form_div input[type="submit"] {
  background: none;
  width: 200px;
  height: 40px;
  color: #808080;
  border: 1px solid #808080;
}
/* content */
.content {
  padding-top: 30px;
  text-align: center;
}
.content .about {
  width: 1200px;
  margin: 0 auto;
}
.content .about h2 {
  font-size: 32px;
}
.content .split_line {
  width: 60px;
  height: 3px;
  background: #07cbc9;
  margin: 10px auto;
}
.content .about .about_up p,
.content .gallery .gallery_up p {
  color: gray;
  font-size: 14px;
  width: 450px;
  margin: 0 auto;
}
.content .about .about_down {
  padding-top: 30px;
  position: relative;
}
.content .about .about_down h3 {
  width: 140px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -200px;
}
.content .about .about_down .left {
  width: 300px;
  padding: 20px;
  font-size: 16px;
  border: 1px solid gray;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -120px;
}
.content .about .about_down .left p:last-child {
  width: 140px;
  height: 40px;
  background: #000;
  color: #fff;
  line-height: 40px;
  margin: 0 auto;
}
.content .about .about_down .right {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -192px;
}
.content .about .about_down .right_box {
  width: 260px;
  padding: 40px 0;
}
.content .about .about_down .right_box:first-child {
  margin-bottom: 30px;
}
.content .about .about_down .right_box p:first-child {
  font-size: 28px;
  font-weight: bold;
}
/* 图文混排区域 */
.content .graphic_mix {
  width: 100%;
  overflow: hidden;
}
.content .graphic_mix .item {
  width: 25%;
  height: 360px;
  float: left;
}
.content .graphic_mix .info {
  background: #02cbc9;
  text-align: left;
}
.content .graphic_mix .item img {
  display: block;
  width: 100%;
  /*height: 360px;我在本地看是没有问题，电脑是Mac*/
}
.content .graphic_mix .info h3 {
  font-size: 24px;
  margin-bottom: 30px;
}
.content .graphic_mix .info p:nth-of-type(1) {
  font-size: 16px;
  margin-bottom: 20px;
}
.content .graphic_mix .info p:nth-last-child(2) {
  font-size: 14px;
  color: gray;
  margin-bottom: 30px;
}
.content .graphic_mix .info p:last-child {
  width: 140px;
  height: 40px;
  background: #000;
  color: #fff;
  line-height: 40px;
  text-align: center;
  margin: 0 auto;
  padding-left: 0;
}
.content .graphic_mix .info h3 {
  padding: 20px 0 0 20px;
}
.content .graphic_mix .info p {
  padding-left: 20px;
}
/* Gallery区域 */
.content .gallery_down {
  width: 1160px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px;
}
.content .gallery_down ul li {
  float: left;
  width: 360px;
  height: 240px;
  line-height: 30px;
}
.content .gallery_down ul li:nth-of-type(3n + 2) {
  margin: 0px 40px;
}
.content .gallery_down ul .split_div {
  float: left;
  width: 1160px;
  height: 30px;
}
.content .gallery_down ul li dl {
  position: relative;
}
.content .gallery_down ul li dl dt img {
  display: block;
}
.content .gallery_down ul li dd {
  position: absolute;
  width: 350px;
  height: 50px;
  bottom: 0;
  left: 0;
  background: #000;
  color: #fff;
  line-height: 50px;
  text-align: left;
  padding-left: 10px;
}
/* 网页底部 */
.footer {
  background: #07cbc9;
  height: 80px;
  text-align: center;
  line-height: 80px;
}
