/* 跟团/半自助游 */
.gtzzy .center .hd > .nav_list {
  width: 158px;
}

.gtzzy .center .list > ul > li.big_grid .desc {
  bottom: -30px;
  opacity: 0;
  padding: 0 26px;
  height: 26px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  transition: bottom 0.4s linear 0s;
}

.gtzzy .center .list > ul > li.big_grid .info {
  position: absolute;
  left: 50%;
  top: -107px;
  margin-left: -53px;
  width: 106px;
  height: 76px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  padding-top: 30px;
  opacity: 0;
  transition: all 0.4s linear 0s;
}

.gtzzy .center .list .more_grid {
  background-image: linear-gradient(180deg, #41d8e9 0%, #3685ea 98%);
}