@font-face {
    font-family: "iconfont";
    src: url('iconfont.woff2?t=1583623062101') format('woff2'),
    url('iconfont.woff?t=1583623062101') format('woff'),
    url('iconfont.ttf?t=1583623062101') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */ url('iconfont.svg?t=1583623062101#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-clear:before {
    content: "\e622";
}

.icon-delete:before {
    content: "\e6ac";
}

.icon-manage:before {
    content: "\e71b";
}

.icon-plan:before {
    content: "\e611";
}

.icon-collect:before {
    content: "\e614";
}

.icon-service:before {
    content: "\e643";
}

.icon-eye:before {
    content: "\e62b";
}

.icon-tick:before {
    content: "\e63e";
}

.icon-train:before {
    content: "\e65e";
}

.icon-insurance:before {
    content: "\e63f";
}

.icon-ticket:before {
    content: "\e652";
}

.icon-wifi:before {
    content: "\e676";
}

.icon-shuttle:before {
    content: "\e888";
}

.icon-metro:before {
    content: "\e849";
}

.icon-plane:before {
    content: "\e600";
}

.icon-ship:before {
    content: "\e65f";
}

.icon-visa:before {
    content: "\e619";
}

.icon-fun:before {
    content: "\e618";
}

.icon-car:before {
    content: "\e63a";
}

.icon-tour:before {
    content: "\e6ca";
}

.icon-hotel:before {
    content: "\e60d";
}

.icon-personal:before {
    content: "\e610";
}

.icon-search:before {
    content: "\e617";
}

.icon-settings:before {
    content: "\e64c";
}

.icon-back:before {
    content: "\e60f";
}

.icon-more:before {
    content: "\e85c";
}

.icon-home:before {
    content: "\e699";
}

.icon-up:before {
    content: "\e613";
}

.icon-dest:before {
    content: "\e628";
}

.icon-right:before {
    content: "\e616";
}

