.site_header {
    height: 150px;
    min-width: 1152px;
}

/* banner */
/*.banner img {
  width: 100%;*/
/* min-width属性，限制最小宽度 */
/*min-width: 1152px;*/
/* 图片可能与合资的底部产生一些缝隙，此时可以使用一个小技巧（垂直居中），使用以下属性，去除缝隙 */
/*vertical-align: middle;*/
/*}*/
/* 轮播图一级菜单 */
.banner {
    position: relative;
    overflow: hidden;
}

.banner .loading {
    padding-top: 200px;
    padding-bottom: 200px;
}

.banner .loading-inline .loading-indocator, .banner .loading-inline .loading-text {
    display: inline-block;
}

.banner .center {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -576px;
    width: 1152px;
    /* 这里的高度100%绝对不能省略，因为如果省略了，
    他的height就是0，那么他的子盒子设置16.6%就没有意义了 */
    height: 100%;
}

.zsj .center .list .big_grid:hover .mask,
.gtzzy .center .list .big_grid:hover .mask {
    opacity: 1;
}

.zsj .center .list .big_grid:hover .info,
.gtzzy .center .list .big_grid:hover .info {
    top: 62px;
    opacity: 1;
}

.zsj .center .list .big_grid:hover .desc,
.gtzzy .center .list .big_grid:hover .desc {
    bottom: 30px;
    opacity: 1;
}
